html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.card {
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}

button {
  margin: 5px;
}

.invoice-text {
  word-wrap: break-word;
  max-width: 100%;
  display: block;
  text-align: left;
} 