{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "SO 1 Debug",
            "type": "go",
            "debugAdapter": "dlv-dap",
            "request": "attach",
            "mode": "remote",
            "port": 40000,
            "host": "127.0.0.1",
            "trace": "verbose",
            "showLog": true,
            "logOutput": "dap",
            "substitutePath": [
                {
                    // Depending on how you have your workspace set up, you may need to modify this
                    "from": "${workspaceFolder}",
                    "to": "/go/spark"
                },
                {
                    // Depending on how you have your workspace set up, you may need to modify this
                    "from": "${env:GOMODCACHE}",
                    "to": "/go/pkg/mod"
                },
                {
                    // Depending on how you have your workspace set up, you may need to modify this
                    "from": "${env:GOROOT}/src",
                    "to": "/usr/local/go/src"
                }
            ]
        },
        {
            "name": "SO 2 Debug",
            "type": "go",
            "debugAdapter": "dlv-dap",
            "request": "attach",
            "mode": "remote",
            "port": 40001,
            "host": "127.0.0.1",
            "trace": "verbose",
            "showLog": true,
            "logOutput": "dap",
            "substitutePath": [
                {
                    "from": "${workspaceFolder}",
                    "to": "/go/spark"
                },
                {
                    "from": "${env:GOMODCACHE}",
                    "to": "/go/pkg/mod"
                },
                {
                    "from": "${env:GOROOT}/src",
                    "to": "/usr/local/go/src"
                }
            ]
        },
        {
            "name": "SO 3 Debug",
            "type": "go",
            "debugAdapter": "dlv-dap",
            "request": "attach",
            "mode": "remote",
            "port": 40002,
            "host": "127.0.0.1",
            "trace": "verbose",
            "showLog": true,
            "logOutput": "dap",
            "substitutePath": [
                {
                    "from": "${workspaceFolder}",
                    "to": "/go/spark"
                },
                {
                    "from": "${env:GOMODCACHE}",
                    "to": "/go/pkg/mod"
                },
                {
                    "from": "${env:GOROOT}/src",
                    "to": "/usr/local/go/src"
                }
            ]
        },
        {
            "name": "SO 4 Debug",
            "type": "go",
            "debugAdapter": "dlv-dap",
            "request": "attach",
            "mode": "remote",
            "port": 40003,
            "host": "127.0.0.1",
            "trace": "verbose",
            "showLog": true,
            "logOutput": "dap",
            "substitutePath": [
                {
                    "from": "${workspaceFolder}",
                    "to": "/go/spark"
                },
                {
                    "from": "${env:GOMODCACHE}",
                    "to": "/go/pkg/mod"
                },
                {
                    "from": "${env:GOROOT}/src",
                    "to": "/usr/local/go/src"
                }
            ]
        },
        {
            "name": "SO 5 Debug",
            "type": "go",
            "debugAdapter": "dlv-dap",
            "request": "attach",
            "mode": "remote",
            "port": 40004,
            "host": "127.0.0.1",
            "trace": "verbose",
            "showLog": true,
            "logOutput": "dap",
            "substitutePath": [
                {
                    "from": "${workspaceFolder}",
                    "to": "/go/spark"
                },
                {
                    "from": "${env:GOMODCACHE}",
                    "to": "/go/pkg/mod"
                },
                {
                    "from": "${env:GOROOT}/src",
                    "to": "/usr/local/go/src"
                }
            ]
        }
    ]
}
